In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cleaned_covid2.csv',index_col=0)
df = df.reset_index()
df.drop('index',axis=1,inplace=True)
df.head()

,age,latitude,longitude,chronic_disease_binary_N,chronic_disease_binary_Y,sex_female,country_Algeria,country_Australia,country_Brazil,country_France,...,country_Romania,country_San Marino,country_Singapore,country_South Korea,country_Switzerland,country_Thailand,country_United States,country_Vietnam,country_Zimbabwe,outcome_D
0,42,36.826150,101.44370,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,38,36.826150,101.44370,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7,36.826150,101.44370,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,29,44.959710,10.68922,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,29,21.327397,105.63005,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [3]:
df.columns

Index(['age', 'latitude', 'longitude', 'chronic_disease_binary_N',
       'chronic_disease_binary_Y', 'sex_female', 'country_Algeria',
       'country_Australia', 'country_Brazil', 'country_France',
       'country_Gambia', 'country_Germany', 'country_Ghana', 'country_Guyana',
       'country_Italy', 'country_Japan', 'country_Malaysia', 'country_Nepal',
       'country_Niger', 'country_Philippines', 'country_Romania',
       'country_San Marino', 'country_Singapore', 'country_South Korea',
       'country_Switzerland', 'country_Thailand', 'country_United States',
       'country_Vietnam', 'country_Zimbabwe', 'outcome_D'],
      dtype='object')

In [4]:
df.describe().to_csv('data_desc.csv')

In [5]:
#df.insert(len(df.columns),'Lat_Lon_Int',df.latitude* df.longitude)

In [6]:
from sklearn.model_selection import KFold
from sklearn.linear_model import LogisticRegression

In [7]:
from sklearn import metrics
import matplotlib.pyplot as plt

In [8]:
y = df.outcome_D
X = df.drop('outcome_D',axis=1)
kf = KFold(n_splits=10)
conf_matrix = []
f1 = []
auc = []
for train, test in kf.split(df):
    mod = LogisticRegression(solver='liblinear')
    mod.fit(X.loc[train,:],y.loc[train])
    pred = mod.predict(X.loc[test,:])
    conf_matrix.append(metrics.confusion_matrix(y.loc[test],pred))
    f1.append(metrics.f1_score(y.loc[test],pred))
print(sum(conf_matrix)/10)
print(sum(f1)/10)

[[25.9  3.4]
 [ 3.4  8.6]]
0.7171950851635212

In [10]:
mod = LogisticRegression(solver='liblinear')
mod.fit(X,y)
mod.coef_

array([[ 0.06139003,  0.02006555, -0.00657607, -0.19183993,  1.5718792 ,
        -0.44926095, -0.02269239, -0.26159082, -0.75362426, -0.2170538 ,
         0.05650872, -0.57568776,  0.        ,  0.1624657 ,  0.16741324,
        -0.44267694, -0.68781207, -0.25528558, -1.53422404, -0.17786953,
        -0.75646648,  0.05965469, -2.33963372, -1.04836605, -0.5978587 ,
        -0.42192484,  0.21386914, -2.12177148,  0.76259335]])

In [21]:
odds_ratios = pd.DataFrame.from_records(np.exp(mod.coef_))
odds_ratios.columns = X.columns
odds_ratios

,age,latitude,longitude,chronic_disease_binary_N,chronic_disease_binary_Y,sex_female,country_Algeria,country_Australia,country_Brazil,country_France,...,country_Philippines,country_Romania,country_San Marino,country_Singapore,country_South Korea,country_Switzerland,country_Thailand,country_United States,country_Vietnam,country_Zimbabwe
0,1.063314,1.020268,0.993446,0.825439,4.815689,0.6381,0.977563,0.769826,0.470658,0.804887,...,0.837052,0.469322,1.06147,0.096363,0.35051,0.549988,0.655783,1.238461,0.119819,2.143829

In [94]:
odds_ratios = pd.DataFrame.from_records(np.exp(mod.coef_))
odds_ratios.columns = X.columns
odds_ratios.to_csv('Odds_Ratio_Bar_plots.csv')

In [12]:
import numpy as np

In [61]:
import seaborn as sns